/* Spacements */

.spc-btm-sm { margin-bottom: 2% }

.spc-top-ext-sm { margin-top: 1% }

.spc-top-sm { margin-top: 2% }

.spc-top-md { margin-top: 4% }

.spc-lf-sm { margin-left: 1% }

/* Colors */

.bg-primary { background-color: #f8fdff }

.bg-second { background-color: #283772 }

.bg-thrid { background-color: #f1be1d }

.txt-primary { color: #283772 }

/* Lines */

.vt-line {
    border-left: 8px solid #f1be1d;
    text-indent: 8px;
    color: #283772;
}