/* Colors */

.bg-primary { background-color: #f8fdff } 

.bg-second { background-color: #283772 } 

.bg-thrid { background-color: #f1be1d }

.txt-primary { color: #283772 } 

/* Positions */

.header-position { position: sticky !important }

.page-position {position: sticky !important }

/* Inputs */

.form-control::-webkit-input-placeholder { color: #dddddd !important }

.ext-placeholder { color: #dddddd }

.btn-danger { border: 1px solid #d9534f !important }

.btn-success { border: 1px solid #5cb85c !important }

.btn-danger:hover {
    background: #ffffff !important;
    color: #d9534f !important;
    border: 1px solid #d9534f !important;
}

.btn-success:hover {
    background: #ffffff !important;
    color: #5cb85c !important;
    border: 1px solid #5cb85c !important;
}

.input-circle {
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: 0 1px 8px 0 #cfcfcf, 0 1px 8px 0 #cfcfcf !important;
    border: none !important;
    outline: 0px !important;
} 

/* Lines */

.vt-line {
    border-left: 8px solid #f1be1d;
    text-indent: 8px;
    color: #283772;
}

/* Menu */

.custom-icon {color: #f1be1d }

.menu-icon { font-size: 2rem }

.menu-icon:hover, .menu-icon:active { cursor: pointer }

.menu-item {color: #283772 }

.menu-align {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 10px;
}

.menu-item:hover, .menu-item:active {
    color: #f1be1d;
    transition: color 0.3s;
    text-decoration: none;
    cursor: pointer;
}